*.gcda
*.gcno
*.la
*.lo
*.o
*~
.deps
.libs
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/lcov.html
/lcov.info
/lcov.info.tmp
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
INSTALL

#debian
debian/tmp
debian/libosso-abook-dev/
debian/libosso-abook/
debian/.debhelper/
debian/*debhelper*
debian/autoreconf*
debian/files
debian/*.substvars

#generated stuff
lib/osso-abook-enums.c
lib/osso-abook-enums.h
lib/osso-abook-marshal.c
lib/osso-abook-marshal.h
lib/tp-glib-enums.c
lib/tp-glib-enums.h
lib/tp-glib-enums.tmp.h
pkgconfig/libosso-abook-1.0.pc
