*.gcda
*.gcno
*.la
*.lo
*.o
*~
.deps
.libs
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/lcov.html
/lcov.info
/lcov.info.tmp
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
