Source: libosso-abook
Priority: optional
Maintainer: Ivaylo Dimitrov < <ivo.g.dimitrov.75@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libglib2.0-dev,
 libxml2-dev,
 libosso-dev,
 libhildon1-dev,
 libebook1.2-dev,
 libedataserver1.2-dev,
 libgconf2-dev,
 libtelepathy-glib-dev,
 librtcom-eventlogger-dev,
 maemo-launcher-dev,
 libhildonfm2-dev (>= 2.17),
 libhildonmime-dev,
Section: libs
Standards-Version: 4.3.0
# Packages that could/should go in Build-Depends, but are currently missing:
#libgtk2.0-dev,
#libdbus-glib-1-dev,
#conbtdialogs-dev,
#libmcclient-dev (>= 5.0.beta59),
#libmodest-dbus-client-dev,
#libnavigation-dev (>= 0.105),
#librtcom-accounts-ui-client-dev,

Package: libosso-abook
Section: libs
Priority: optional
Architecture: any
Multi-arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gconf2,
 hildon-common-strings-l10n-mr0,
 iso-codes
# Packages that could/should go in Depends, but are currently missing:
#libmcclient6,
#libmodest-dbus-client,
#libnavigation0,
#libosso-gnomevfs2-0
#librtcom-accounts-ui-client0
#osso-addressbook-l10n-mr | osso-addressbook-l10n-mr0
#osso-statusbar-presence-l10n-mr | osso-statusbar-presence-l10n-mr0,
#osso-mission-control (>= 5.0.beta15),
#operator-wizard-settings
Description: Library to access addressbook and presence information
 .
 This package contains the shared libraries.

Package: libosso-abook-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libosso-abook (= ${source:Version}),
 ${misc:Depends},
 libglib2.0-dev,
 libgtk2.0-dev,
 libhildonfm2-dev,
 libhildonmime-dev,
 libebook1.2-dev,
 libtelepathy-glib-dev,
 libosso-dev,
 pkg-config,
Description: Library to access addressbook and presence information
 .
 This package contains the libraries and header files for developing against
 libosso-abook.
