Source: libosso-abook
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libglib2.0-dev,
 libxml2-dev,
 libosso-dev,
 libhildon1-dev,
 libebook1.2-dev,
 libedataserver1.2-dev,
 libgconf2-dev,
 libtelepathy-glib-dev,
 librtcom-eventlogger-dev,
 maemo-launcher-dev,
 libhildonfm2-dev (>= 2.17),
 libhildonmime-dev (>= 4.2.0),
 libcairo2-dev,
 libgofono-dev,
 mobile-broadband-provider-info,
 libhildonfm2-dev,
 libmodest-dbus-client-dev,
 iso-codes,
 libglibutil-dev,
 librtcom-accounts-ui-client-dev,
 gtk-doc-tools
Section: libs
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/maemo-leste/osso-abook
Vcs-Git: https://github.com/maemo-leste/osso-abook.git

# Packages that could/should go in Build-Depends, but are currently missing:
#conbtdialogs-dev,
#libnavigation-dev (>= 0.105),

Package: libosso-abook
Section: libs
Priority: optional
Architecture: any
Multi-arch: same
Breaks: osso-addressbook (<= 0.3.2)
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gconf2,
 hildon-common-strings-l10n-mr0,
 iso-codes,
 mobile-broadband-provider-info,
#fixme - not sure this belongs here
 evolution-data-server-addressbook-backend-telepathy,
 telepathy-mission-control-5,
 osso-addressbook-l10n-mr | osso-addressbook-l10n-mr0,
 libmodest-dbus-client,
# Packages that could/should go in Depends, but are currently missing:
#libnavigation0,
#librtcom-accounts-ui-client0
#osso-statusbar-presence-l10n-mr | osso-statusbar-presence-l10n-mr0,
#operator-wizard-settings
Description: Library to access addressbook and presence information
 .
 This package contains the shared libraries.

Package: libosso-abook-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libosso-abook (= ${source:Version}),
 ${misc:Depends},
 libglib2.0-dev,
 libgtk2.0-dev,
 libhildonfm2-dev,
 libhildonmime-dev,
 libebook1.2-dev,
 libtelepathy-glib-dev,
 libosso-dev,
 librtcom-eventlogger-dev,
 pkg-config,
Description: Library to access addressbook and presence information
 .
 This package contains the libraries and header files for developing against
 libosso-abook.

Package: libosso-abook-doc
Section: doc
Architecture: all
Description: Documentation for the OSSO Addressbook library
 Library to access addressbook and presence information
 .
 Contains the library reference
